html,body{
    height: 100%;
    background-color: white;
    
}
body {
    padding-top: 5%;
    background-image:url(sfondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

 img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width:200px;
    max-height:190px;
    width: auto;
    height: auto;
    margin-bottom:25px;
    position: relative;
    
    
    

}
div.login-form{
    max-width: 300px;
  margin: 0 auto;
  
}
.login-form input[type="email"] {
    max-width: 94%;
    padding: 10px;
    border: 1px solid #525252;
    color: rgb(15, 4, 4);
    font-size: 13px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
}
#user_password.form-control {
    max-width:67%;
    height: 41px;
    padding: 10px;
    border-radius: 0;
    border: 1px solid #525252;
    color: rgb(15, 4, 4);
    font-size: 13px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
}


#accedi{
    margin-left:50px;
}
.input-group-text, .fa fa-eye{
    width:41px;
    height:41px;
}
}



